<%= stylesheet_link_tag "link", :media => "all" %>
<div id="container" _height="auto">
  <div id="top">
  	<h2>關於榮騰</h2>
  </div>
  <!--top-->
</div>
<!--container--> 
<script>
$(document).ready(function() {
	$("#banner ul li").eq(4).addClass("select");
})
</script>