<!DOCTYPE html>
<html style="background: #000;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="松阪豬肉, 霜降豬肉, 香草豬，火鍋肉片, 燒烤肉片, 榮騰農產, 產銷履歷, CAS"/>
<meta name="description" content="滿足最挑剔的嘴巴！榮騰用心使用酵母飼料飼養，提供優質的火鍋肉片、燒烤肉片等豬肉產品，片片都是精選，健康又美味。"/>
<link rel="SHORTCUT ICON" href="images/favicon2.ico"/>
<link rel="image_src" href="images/thumb.jpg"/>
<meta property="og:title" content="產品介紹 |日本掛川完熟酵母豬-榮騰農產"/>
<meta property="og:description" content="滿足最挑剔的嘴巴！榮騰用心使用酵母飼料飼養，提供優質的火鍋肉片、燒烤肉片等豬肉產品，片片都是精選，健康又美味。"/>
<meta property="og:site_name" content="日本掛川完熟酵母豬-榮騰農產"/>
<meta property="og:image" content="images/thumb.jpg"/>
<meta property="og:type" content="food"/>
<title>產品介紹 |日本掛川完熟酵母豬-榮騰農產</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "product", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
  $(document).ready(function() {
    $("body").css("display", "none");
    $("body").fadeIn(500);
  });
  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39377642-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div id="wrapper">
  <div id="back-to-top"><a href="#top">↑ TOP</a></div>
    <div id="header" _height="auto">
      <div id="banner">
        <h1><a href="/home">掛川完熟酵母豚</a></h1>
        <ul>
          <li><a href="/about">關於榮騰</a></li>
          <li><a href="/technology">獨家技術</a></li>
          <li><a href="/product">產品介紹</a></li>
          <li><a href="/news">最新資訊</a></li>
          <li><a href="/link">友站連結</a></li>
          <li><a href="/orders">我要訂購</a></li>
        </ul>
      </div>
      <!--banner-->

      <div id="footer">
        <div id="social"> 
      <a target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[url]=http://www.longtermyeast.com/&p[images][0]=http://www.longtermyeast.com/images/thumb.jpg&p[title]=%e5%9a%b4%e8%ac%b9%e7%9a%84%e6%a6%ae%e9%a8%b0%e8%be%b2%e7%94%a2%ef%bc%8c%e4%bb%a5%e5%89%b5%e6%96%b0%e6%8c%91%e6%88%b0%e7%be%8e%e5%91%b3%e7%9a%84%e6%a5%b5%e8%87%b4&p[summary]=%e5%a0%85%e6%8c%81%e6%8e%a1%e6%9c%80%e9%80%b2%e6%ad%a5%e7%9a%84%e9%a3%bc%e8%82%b2%e6%96%b9%e5%bc%8f%e5%8f%8a%e7%a7%91%e5%ad%b8%e5%8c%96%e7%ae%a1%e7%90%86%ef%bc%8c%e4%bb%a5%e5%a4%a9%e7%84%b6%e9%85%b5%e6%af%8d%e7%99%bc%e9%85%b5%e7%86%9f%e6%88%90%e7%9a%84%e5%84%aa%e8%b3%aa%e9%a3%bc%e6%96%99%ef%bc%8c%e9%a3%bc%e8%82%b2%e5%87%ba%e5%81%a5%e5%ba%b7%e3%80%81%e7%be%8e%e5%91%b3%e5%8f%88%e5%ae%89%e5%bf%83%e7%9a%84%e6%8e%9b%e5%b7%9d%e5%ae%8c%e7%86%9f%e9%85%b5%e6%af%8d%e8%b1%9a%ef%bc%8c%e4%b8%a6%e6%8c%81%e7%ba%8c%e7%a0%94%e7%99%bc%e5%89%b5%e6%96%b0%e6%9b%b4%e5%a4%9a%e9%a0%82%e7%b4%9a%e9%a3%9f%e6%9d%90%ef%bc%8c%e6%8c%91%e6%88%b0%e7%be%8e%e5%91%b3%e7%9a%84%e6%a5%b5%e8%87%b4%e3%80%82"><img src="/images/fb.png" width="38" height="38" /></a> 
      <a href="javascript: void(window.open('http://twitter.com/home/?status='.concat('榮騰農產以嚴謹態度持續研發創新，創造日本掛川酵母菌與豚肉的完美傑作──掛川完熟酵母豚，口感細緻層次豐富，是健康、美味又安心的頂級食材，讓您享受色、香、味俱全的感官旅程。') .concat(encodeURIComponent('網址'))));"><img src="/images/tw.png" width="38" height="38" /></a> 
      <a href="javascript:void(0)" onClick="javascript: void(window.open('http://www.plurk.com/?qualifier=shares&status=' .concat(encodeURIComponent('網址')) .concat(' ') .concat('(') .concat(encodeURIComponent('色、香、味俱全的感官旅程，盡在榮騰農產')) .concat(')')));"><img src="/images/pl.png" width="38" height="38" /></a></div>

        <div id="info"> <strong>榮騰農產股份有限公司</strong><br />
          <span>Long Term Yeast Co., Ltd.</span></strong><br />
          台北市衡陽路108號3樓之7<br />
        TEL：02-2382-0966<br />
        FAX：02-2382-0977
        </div>
      </div>
      <!--footer-->
    </div>
    <!--header-->

    
<div id="container" _height="auto">
    <div id="top">
      <h2>產品介紹</h2>
      <ul id="nav">
        <li style="border:none"><a href="#pd-01">頂級五花肉火鍋片</a></li>
        <li><a href="#pd-02">頂級梅花肉火鍋片</a></li>
        <li><a href="#pd-03">頂級里肌肉厚排</a></li>
        <li><a href="#pd-04">頂級炒肉片</a></li>
        <li><a href="#pd-05">頂級松阪肉燒烤片</a></li>
        <li><a href="#pd-06">頂級腰內肉燒烤片</a></li>
        <li><a href="#pd-07">頂級二層肉燒烤片</a></li>
      </ul>
    </div>
    <!--top-->
    <div id="content"  _height="auto">
      <div class="article">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr id="pd-01">
            <td colspan="2" height="40">&nbsp;</td>
          </tr>
          <tr>
            <td align="right"><img src="images/pd-h3-5.png" width="377" height="108" />
              <p>選自豬肉腹部，因肥瘦交替具有層次，又被稱為三層肉，掛川酵母飼育而成的五花肉油脂豐富風味佳，是火鍋、燒烤的高檔食材，傳說中最極品的五花肉肥瘦相間十層以上，千萬別在餐桌上算它有幾層，因為其他人的筷子可不會等你。 </p></td>
            <td align="right"><img src="images/pd-05.jpg" width="312" height="233" /></td>
          </tr>
          <tr id="pd-02">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td width="52%" align="right"><img src="images/pd-h3-4.png" width="377" height="107" />
              <p>不像五花油脂多、里肌瘦，肥瘦各半的的梅花肉肉質鮮嫩，因花紋貌似梅花點點而得其名，由掛川酵母培育出的花紋較一般梅花肉更美，不像梅花越冷才開花，它專在火鍋、燒烤中綻放光采。 </p></td>
            <td width="48%" align="right"><img src="images/pd-04.jpg" width="312" height="233" /></td>
          </tr>
          <tr>
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="article">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr id="pd-03">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td width="49%"><img src="images/pd-06.jpg" width="312" height="233" /></td>
            <td width="51%"><img src="images/pd-h3-6.png" width="377" height="107" />
              <p>選自背脊偏後腿部位的瘦肉，形狀長條完整，在掛川酵母加持下，肉質相當紮實有嚼勁，形狀和紋理工整，適合切片醃製後，裹粉以油炸或油煎作成豬排的方式來料理，咔滋咔滋聽覺、味覺的雙重享受，讓人還想再多添一碗飯。 </p></td>
          </tr>
          <tr id="pd-04">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/pd-07.jpg" width="312" height="233" /></td>
            <td><img src="images/pd-h3-7.png" width="377" height="108" />
              <p>健康脂肪少，適合均勻切成片狀，或細心煎烤，或佐以蔥蒜大火快炒即可上桌，由掛川酵母飼育而成，安心健康又美味，是最方便料理的國民食材，媽媽們的好夥伴。 </p></td>
          </tr>
          <tr id="pd-05">
            <td colspan="2" height="40">&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/pd-02.jpg" width="312" height="234" /></td>
            <td><img src="images/pd-h3-2.png" width="377" height="110" />
              <p>一隻豬僅有兩片，極為珍貴，又稱「黃金六兩肉」、「霜降豬肉」，位於豬脖子兩側，油花分布均勻，堪稱肉中極品；在掛川酵母催化下，會如霜般在舌尖融化，燒烤時只需灑上少許鹽巴，只留天然香甜及清脆口感。 </p></td>
          </tr>
          <tr id="pd-06">
            <td colspan="2" height="40">&nbsp;</td>
          </tr>
          <tr>
            <td width="51%"><img src="images/pd-01.jpg" width="312" height="233" /></td>
            <td width="49%"><img src="images/pd-h3-1.png" width="377" height="107" />
              <p>有「豬肉中的菲力」之稱，又稱「小里肌肉」；油脂含量少、熱量低，肉味較平淡，但掛川酵母所培育出的腰內肉，不只在風味上提升了香甜，其軟嫩口感更是前所未見。</p></td>
          </tr>
          <tr id="pd-07">
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/pd-03.jpg" width="312" height="233" /></td>
            <td><img src="images/pd-h3-3.png" width="377" height="107" />
              <p>又稱僧帽肌的二層肉也有「霜降豬肉」美名，覆蓋在里脊肉的前端，一頭豬只有小小的兩片，由於肉質鮮甜多汁，與松阪肉同珍品，口感各擅勝場，掛川酵母飼育出的二層肉不只軟嫩且彈牙，保證讓味蕾陷入溫柔鄉。 </p></td>
          </tr>
          <tr>
            <td colspan="2" height="40" >&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <!--content--> 
  </div>


<script type="text/javascript">
$(function(){
  var $win = $(window).scroll(function(){
    if($win.scrollTop() >= 126){
      $('#nav').css({
      position:'fixed',
      top:0,
      'margin-left':'53px'
      })
    } 
    else {
      $('#nav').css("position","static")
    }
  });
});
</script>
<script>
$(document).ready(function() {
  $('#nav li').click(function(){      
    $(this).addClass('select').siblings().removeClass('select')
  });
  $("#banner ul li").eq(2).addClass("select");
})
</script>

</div>
<!--wrapper-->
</body>
</html>