<%= stylesheet_link_tag "order_finish", :media => "all" %>
<div id="container" _height="auto">
    <div id="top">
      <h2>產品介紹</h2>      
    </div>
    <!--top-->
    <div id="content"  _height="auto">
      <h3>感謝您的訂購，我們將盡速處理！</h3>
      <div id="contact">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15%" align="left" valign="top">查詢訂購資訊：</td>
          <td width="85%" align="left" valign="top">電話／02-2382-0966 高小姐<br />
            傳真／02-2382-0977<br />
            電郵／<a href="mailto:carolkao@longtermyeast.com">carolkao@longtermyeast.com</a> </td>
        </tr>
      </table>
      </div>
    </div>
    <!--content--> 
  </div>
  <!--container--> 

  <script type="text/javascript">
  $("#banner ul li").eq(5).addClass("select");
  </script>